.bodyContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50%;

  
}
.weekDaysContainer{
  display: flex;
  justify-content: space-between;
}
.weekDay{
  padding: 10px;
  font-size: 30px;
  color: red;
}